<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/log.txt" >
    </target>
    <target name="logconsole"  xsi:type="Console" >      
    </target>
    <target name="logdebugger" xsi:type="Debugger">
    </target>
    <target name="syslog" type="Syslog">
      <messageCreation>
        <facility>Local7</facility>
        <rfc5424 hostname="${machinename}-local" appName="${processname}-ProductCatalog" />
      </messageCreation>
      <messageSend>
        <protocol>TCP</protocol>
        <tcp>
          <server>logs6.papertrailapp.com</server>
          <port>27011</port>
          <tls>
            <enabled>true</enabled>
          </tls>
        </tcp>
      </messageSend>
    </target>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <logger name="*" minlevel="Trace" writeTo="logconsole" />
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="logdebugger" />
    <logger name="*" minLevel="Info" appendTo="syslog" />
  </rules>
</nlog>
